@mixin backgroundColors() {
  .one {
    background-color: #f0efe0;
  }

  .two {
    background-color: #ece3d3;
  }

  .three {
    background-color: #ded8d4;
  }

  .four {
    background-color: #f5ece4;
  }

  .five {
    background-color: #f7f1ec;
  }

  .six {
    background-color: #e9f0e3;
  }

  .seven {
    background-color: #ebeadf;
  }
  .eight {
    background-color: #fefef2;
  }
}
