input:focus {
  outline: none;
}

input::placeholder {
  font-size: 20px;
}

.emailInput {
  position: relative;

  input {
    background-color: transparent;
    width: 450px;
    height: 40px;
    padding: 8px 0;
    font-size: 20px;
    line-height: 1;
    border: solid rgba(51, 51, 51, 0.2);
    border-width: 0 0 1px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
