.nav {
  width: 100%;
  .topNav {
    background-color: #fffef2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;

    .mainNav {
      margin-left: 50px;

      .navUl {
        display: flex;
        list-style: none;
        align-items: center;
        height: 80px;

        .navList {
          display: flex;
          align-items: center;
          height: 80px;
          margin-right: 20px;
          &.border {
            border-bottom: 2px solid black;
          }

          .clickList {
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: normal;

            .searchImg {
              width: 20px;
            }
          }

          .end {
            border: 0;
            outline: 0;
            background-color: #fffef2;
          }
        }
      }
    }

    .subNav {
      .rightUl {
        list-style: none;

        .rightButton {
          display: flex;
          align-items: center;
          height: 80px;
          float: left;
          margin-right: 20px;
          border: 0;
          outline: 0;
          background-color: #fffef2;
          font-size: 18px;
        }
      }
    }
  }
  .perfume {
    height: 0;
    overflow: hidden;
    opacity: 0;
    &.on {
      transition: 1s;
      height: 120%;
      opacity: 1;
    }
  }
}
